*.bgn
*.bin
*.bit
*.xwbt
*.bld
*.drc
*.edif
*.map
*.mrp
*.ngm
*.pcf
*.ncd
*.ngd
*.xrpt
*.ngo
*.pad
*_pad.csv
*_pad.txt
*.par
*.ptwx
*.twr
*_summary.xml
*.unroutes
*_usage.xml
*.xpi
netlist.lst
par_usage_statistics.html
xlnx_auto_0_xdb/*
_xmsgs/*
*.swp
